#app{
    width:100%;
    height:800px;
    background-color:#adfff4;
}
#game{
    width:100%;
    height:800px;
    background-color:#fcfbb3;
}
#chatbot{
    width:100%;
    height:800px;
    background-color:#fcb3fb;
}
.line{
    height:6px;
    background-color:black;
    width:70px;
    margin:8px auto;
}
img{
    transition: transform 2s;
    width: 450px;
    height:450px;
}
img:hover{
    transform:scale(0.9);
}
body{
    text-align: center;
}
#myCarousel{
    background-color: gold;
}
#myCarousel img{
    height:300px;
    margin-top:35px;
}
.carousel-inner p{
margin-bottom:15px;
margin-top:15px;
color:navy;
font-size:20px;
}